/* Remove default cursor */
html, body {
  cursor: none;
}

.trail-circle {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red !important;
  border: 2px solid black !important;
  pointer-events: none;
  transform: translate(-50%, -50%);
  will-change: transform;
  z-index: 99999999 !important;
}
